<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simpli Finance Budgets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
<!--Navbar section-->
<nav class="navbar sticky-top navbar-expand-lg" style="background-color: #F6FBDB98;">
    <div class="container-fluid">
        <!--Website Title-->
        <a class="navbar-brand" href="#home">&nbsp;Simpli Finance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!--Navbar Pages-->
                <a class="nav-link active" aria-current="page" href="#home">Home</a>
                <a class="nav-link" href="#aboutus">About Us</a>
                <a class="nav-link" href="#makingabudget">Making a Budget</a>
                <a class="nav-link" href="#ourproducts">Our Products</a>
                <a class="nav-link" href="#examplebudgets">Example Budgets</a>
                <a class="nav-link" href="#learnmore">Learn More</a>
                <a class="nav-link" href="https://github.com/WilliamKL/SimpliFinance" target="_blank" rel="noopener noreferrer">GitHub Repo</a>
            </div>
        </div>
    </div>
</nav>
<!--Home Section-->
<header class="masthead bg-success p-2 text-dark bg-opacity-25 text-center" id="home">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="https://cdn.icon-icons.com/icons2/516/PNG/512/cash_icon-icons.com_51090.png" alt="Money budget icon" width="20%" height="auto">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Simpli Finance</h1>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Take control of your finances. Your money, simplified.</p>
    </div>
</header>
<section class="content-section bg-success p-2 text-dark bg-opacity-25 text-center">
    <div class="container px-4 px-lg-5">
        <!-- Home Section Heading-->
        <div class="content-section-heading">
            <br>
            <br>
            <h2 class="page-section-heading text-center">What We Offer</h2>
            <!-- Home Section Content-->
            <p class="masthead-subheading font-weight-light mb-0"> Our website is designed to teach you how to budget your money and take back control of your finances.</p>
            <p class="masthead-subheading font-weight-light mb-0"> You will learn how to track your money and improve your monthly savings all in one.</p>
            <br>
            <br>
        </div>
        <div class="row gx-4 gx-lg-5">
            <!--Four Column Home Website Feature Listing with Icons-->
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <img src="https://img.icons8.com/ios/512/smartphone.png" width="100" height="auto" alt="Smartphone Icon">
                <h4><strong>Accessible</strong></h4>
                <p class="text-faded mb-0">This website looks great on any screen size, mobile phone, or computer.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <img src="https://img.icons8.com/pastel-glyph/512/monitor.png" width="100" height="auto" alt="Computer Icon">
                <h4><strong>Easy To Follow</strong></h4>
                <p class="text-faded mb-0">We use clear and understandable language and examples on budgets to make learning easy.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <img src="https://img.icons8.com/ios/512/facebook-like.png" alt="Like Icon" width="100" height="auto">
                <h4><strong>Favorited</strong></h4>
                <p class="text-faded mb-0">Thousands of customers use our budgeting tips to save money monthly.</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <img src="https://img.icons8.com/ios/512/guest-male.png" alt="User Icon" width="100" height="auto">
                <h4><strong>User Friendly</strong></h4>
                <p class="text-faded mb-0">Our site is easy to navigate and provides links and explanations for all budgeting and financial content.</p>
            </div>
        </div>
    </div>
    <br>
</section>
<!--Screen Wide Image-->
<div class="py-5 bg-image-full" style="background-image: url('https://img.freepik.com/free-vector/money-seamless-pattern-background-vector-finance-illustration_53876-140178.jpg?w=826&t=st=1668717780~exp=1668718380~hmac=0223bc8e2462c185178f542dc35c045df40baca6fb289869aaf6d23187d096bc')">
    <div style="height: 10rem">
    </div>
</div>
<!--About Us Section-->
<section class="page-section bg-success p-2 text-white bg-opacity-50 mb-0 py-5" id="aboutus">
    <div class="container">
        <!-- About Us Section Heading-->
        <br>
        <h2 class="page-section-heading text-center text-uppercase text-white">About Us</h2>
        <!-- Line Divider-->
        <div class="divider-custom divider-light">
            <hr class="hr hr-blurry" />
        </div>
        <!-- About Us Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Simpli Finance is a free budgeting website made with Django, Render, and Bootstrap. The link below takes you to the
                "Our Products" section of this website, so you can pick the Simpli Finance plan that best meets your needs.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">This website will detail how to create your own budget, the kind of information needed, track your expenses, collate your
                financial information, and find ways to save additional money monthly. Happy budgeting!</p></div>
        </div>
        <!-- About Us Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="#ourproducts">
                <svg class="svg-inline--fa fa-download me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="download" width="100" height="auto" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M480 352h-133.5l-45.25 45.25C289.2 409.3 273.1 416 256 416s-33.16-6.656-45.25-18.75L165.5 352H32c-17.67 0-32 14.33-32 32v96c0 17.67 14.33 32 32 32h448c17.67 0 32-14.33 32-32v-96C512 366.3 497.7 352 480 352zM432 456c-13.2 0-24-10.8-24-24c0-13.2 10.8-24 24-24s24 10.8 24 24C456 445.2 445.2 456 432 456zM233.4 374.6C239.6 380.9 247.8 384 256 384s16.38-3.125 22.62-9.375l128-128c12.49-12.5 12.49-32.75 0-45.25c-12.5-12.5-32.76-12.5-45.25 0L288 274.8V32c0-17.67-14.33-32-32-32C238.3 0 224 14.33 224 32v242.8L150.6 201.4c-12.49-12.5-32.75-12.5-45.25 0c-12.49 12.5-12.49 32.75 0 45.25L233.4 374.6z"></path></svg><!-- <i class="fas fa-download me-2"></i> Font Awesome fontawesome.com -->
                Create Your Budget Now!
            </a>
        </div>
    </div>
</section>
<!--Continued About Us Section-->
<section class="content-section bg-success p-2 white bg-opacity-50 text-white text-center py-5">
    <div class="container px-4 px-lg-5">
        <!-- About Us Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Who We Are</h2>
        <!-- Line Divider-->
        <div class="divider-custom divider-light">
            <hr class="hr hr-blurry" />
        </div>
        <h4>Meet our lovely team!</h4>
        <br>
        <!--Four Column Employee Listing-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <img src="https://www.hardypedoortho.com/wp-content/uploads/LingualHardy3.jpg" width="150" height="auto" alt="Woman Professional Headshot">
                <h4><strong>Gillian Braun</strong></h4>
                <p class="text-faded mb-0">Gillian has been working at Simpli Finance since the beginning and is responsible for the backend code and website design.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <img src="https://media.istockphoto.com/id/173272751/photo/close-up-of-smiling-young-dark-skinned-man.jpg?s=612x612&w=0&k=20&c=_P4J_nezQaAQQh5vHFa5DFmPPcl9dpEX1kvsBhRpdP4=" width="150" height="auto" alt="Man Professional Headshot">
                <h4><strong>William Lovelace</strong></h4>
                <p class="text-faded mb-0">William is responsible for the database side of this website and also one of the original employees.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <img src="https://cdn.create.vista.com/api/media/small/22064725/stock-photo-happy-smiling-girl" alt="Woman Professional Headshot" width="150" height="auto">
                <h4><strong>Fatima Edmondson</strong></h4>
                <p class="text-faded mb-0">Fatima is the sales and advertising director for our website and joined not long after we launched the business.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <img src="https://t4.ftcdn.net/jpg/02/19/63/31/360_F_219633127_y6XyywwYrYWE5dYLJN1omLbH47Jn09Zo.jpg" alt="Man Professional Headshot" width="150" height="auto">
                <h4><strong>Jose Canedo</strong></h4>
                <p class="text-faded mb-0">Jose oversees all the code for the front and backend in addition to serving as the quality control director.</p>
            </div>
        </div>
    </div>
</section>
<!--Making A Budget Section-->
<!--Header with Screen Wide Picture Section Divider-->
<header class="py-5 bg-image-full" style="background-image: url('https://img.freepik.com/premium-photo/finance-money-technology-background-concept-business-prosperity-asset_31965-38928.jpg?w=2000')" id="makingabudget">
    <div class="text-center my-5">
        <!--Making A Budget Header-->
        <h1 class="text-black fs-3 fw-bolder">Making A Budget</h1>
        <!--Making A Budget Subheading-->
        <p class="text-black mb-0">How To Get Started</p>
    </div>
</header>
<!--Making A Budget Text-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Steps To Making a Budget</h2>
                <p class="lead">The first step is to track your expenses and income. </p>
                <p class="mb-0">You can download your debit or credit card details to see where your expenses are. You will want to categorize each expense into categories like Entertainment, Utilities, Rent, Restaurants, Shopping,
                    Automobile, Insurance, Phone, etc. The most crucial part is understanding where you spend your money, including on things like Starbucks or buying lunch out at work every day. Those small expenses can add up quickly
                    and consume a lot of money, even if it does not seem like it. </p>
            </div>
        </div>
    </div>
</section>
<!--Screen Wide Image Section Divider-->
<div class="py-5 bg-image-full" style="background-image: url('https://images.squarespace-cdn.com/content/v1/5af01293697a98afe3594f36/1526261889902-611Z115N2PX7FOC2TNE4/finance+background.jpg?format=2500w')">
    <div style="height: 10rem">
    </div>
</div>
<!--Making a Budget Text Continued-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Steps To Making a Budget Continued</h2>
                <p class="lead">Now you put all your expenses and income into the budgeting spreadsheet to total up.</p>
                <p class="mb-0">Different strategies include designating 50% of your monthly income to needs, 30% to your wants, and 20% to savings. Understandably, some people cannot afford to save that much money every month,
                    so that you can adjust those percentages for your own budget. It is possible that you cannot save much money at the end of each month with all your monthly bills. The important part is trying to save anything
                    you can, as it will eventually add up to a large sum over the years.</p>
            </div>
        </div>
    </div>
</section>
<!--Our Products Section-->
<!--Header with Screen Wide Picture Section Divider-->
<header class="py-5 bg-image-full" style="background-image: url('https://www.esri.com/about/newsroom/wp-content/uploads/2022/03/is-spatial-finance-coming-to-your-company-wherenext-article-wide-1920x1080-1.jpg')" id="ourproducts">
    <div class="text-center my-5">
        <!--Our Products Header-->
        <h1 class="text-white fs-3 fw-bolder">Our Products</h1>
        <!--Our Products Subsection-->
        <p class="text-white">How To Get Started</p>
    </div>
</header>
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Our Products To Help You Budget</h2>
                <p class="lead">Choose the monthly plan that best suits your needs between the Simpli Finance Bronze, Silver, or Gold options. </p>
                <p class="mb-0">Simpli Finance Bronze, Silver, and Gold options offer budgeting software that will help you budget with ease and efficiency. The monthly plans
                    come with software that guides you and your budget and offers tips and tricks to maximize your savings and income.</p>
                <br>
                <p class="mb-0">Simpli Finance Bronze users can make up to 2 budgets, have access to our budget example database, allows users to change their budget
                    up to 10 times a month, and uses our patented Budget AI to maximize savings.</p>
                <br>
                <p class="mb-0">Simpli Finance Silver users can make up to 5 budgets, have access to our budget example database, allows users to change their budget
                    up to 20 times a month, and uses our patented Budget AI to maximize savings.</p>
                <br>
                <p class="mb-0">Simpli Finance Gold users can make up to 10 budgets, have access to our budget example database, allows users to change their budget an
                    unlimited amount of times per month, uses our patented Budget AI to maximize savings, and gives users access to our 24/7 Customer Support Line staffed
                    by real people at all times.</p>
            </div>
        </div>
    </div>
</section>
<!--Database-Sourced Information-->
<!--Our Products Name and Pricing-->
<section class="pt-2">
    <div class="container px-lg-5">
        <!--Our Products Sections-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <img src="https://img.icons8.com/office/512/average-2.png" alt="Bronze money icon" width="100" height="auto">
                        <h2 class="fs-4 fw-bold">Simpli Finance Bronze</h2>
                        <h2 class="fs-4">Price: </h2>
                        <ul class="mb-0" style="text-align:left">
                            <li>2 Budgets</li>
                            <li>10 Changes Per Month</li>
                            <li>Access to Budget Example Database</li>
                            <li>Access to patented Budget AI for maximum savings</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                        <img src="https://img.icons8.com/ultraviolet/512/average-2.png" alt="Silver money icon" width="100" height="auto">
                        <h2 class="fs-4 fw-bold">Simpli Finance Silver</h2>
                        <h2 class="fs-4">Price: </h2>
                        <ul class="mb-0" style="text-align:left">
                            <li>5 Budgets</li>
                            <li>20 Changes Per Month</li>
                            <li>Access to Budget Example Database</li>
                            <li>Access to patented Budget AI for maximum savings</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                        <img src="https://img.icons8.com/dusk/512/average-2.png" alt="Gold money icon" width="100" height="auto">
                        <h2 class="fs-4 fw-bold">Simpli Finance Gold</h2>
                        <h2 class="fs-4">Price: </h2>
                        <ul class="mb-0" style="text-align:left">
                            <li>10 Budgets</li>
                            <li>Unlimited Changes Per Month</li>
                            <li>Access to Budget Example Database</li>
                            <li>Access to patented Budget AI for maximum savings</li>
                            <li>Access to 24/7 Customer Support Line</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Screen Wide Image Section Divider-->
<div class="py-5 bg-image-full" style="background-image: url('https://previews.123rf.com/images/naphotos/naphotos1509/naphotos150900151/46080356-stock-market-concept-and-background.jpg')">
    <div style="height: 10rem">
    </div>
</div>
<!--Example Budgets-->
<section class="page-section bg-success p-2 text-white bg-opacity-50 mb-0 py-5" id="examplebudgets">
    <div class="container">
        <!-- Example Section Heading-->
        <br>
        <h2 class="page-section-heading text-center text-uppercase text-white">Example Budgets</h2>
        <!-- Line Divider-->
        <div class="divider-custom divider-light">
            <hr class="hr hr-blurry" />
        </div>
        <!-- Example Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">These budget examples give you an idea of what to aim for when creating a budget. It is best to be as realistic as possible.
                </p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead">If you need more help understanding how to make a budget, go to the Learn More section on the Navbar.
                </p>
            </div>
        </div>
        <br>
        <br>
    </div>
    <!--Example Budgets Images-->
    <section class="centerImage text-center">
        <div>
            <img src="https://binaries.templates.cdn.office.net/support/templates/en-us/lt16410113_quantized.png" alt="Personal Budget">
            <p>
                Example 1 of a personal budget with values
            </p>
            <br>
        </div>
        <div>
            <img src="https://www.businesstemplates.biz/images/templates/personal-budget-template.jpg" alt="Personal Budget">
            <p>
                Example 2 of a personal budget with values
            </p>
            <br>
        </div>
        <div>
            <img src="https://binaries.templates.cdn.office.net/support/templates/en-us/lt04101071_quantized.png" alt="Personal Budget">
            <p>
                Example 3 of a personal budget with values
            </p>
            <br>
        </div>
        <div>
            <img src="https://www.budgetingincome.com/wp-content/uploads/2013/04/over-under.jpg" alt="Personal Budget">
            <p>
                Example 4 of a personal budget with values
            </p>
            <br>
        </div>
    </section>
</section>
<!--Screen Wide Image-->
<div class="py-5 bg-image-full" style="background-image: url('https://img.freepik.com/free-vector/money-seamless-pattern-background-vector-finance-illustration_53876-140178.jpg?w=826&t=st=1668717780~exp=1668718380~hmac=0223bc8e2462c185178f542dc35c045df40baca6fb289869aaf6d23187d096bc')">
    <div style="height: 10rem"></div>
</div>
<!--Learn More Cards-->
<section class="bg-success p-2 text-dark bg-opacity-25 py-5" id="learnmore">
    <section>
        <div class="container">
            <!-- Learn More Section Heading-->
            <br>
            <h2 class="page-section-heading text-center text-uppercase text-black">Want To Learn More About Budgets and Money?</h2>
            <!-- Line Divider-->
            <div class="divider-custom divider-light">
                <hr class="hr hr-blurry" />
            </div>
        </div>
        <!--Learn More Cards Part 1-->
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <img src="https://img.icons8.com/glyph-neue/512/stack-of-money.png" alt="Money icon" width="100" height="auto">
                    <h2 class="h4 fw-bolder">Guide To Managing Your Money</h2>
                    <p>The Federal Trade Commission's comprehensive guide to Managing Your Money covering all monetary topics such as renting, making a budget, opening a bank account, saving money,
                        credit and debit cards, and more. </p>
                    <a class="text-decoration-none" href="https://consumer.gov/section/managing-your-money" target="_blank" rel="noopener noreferrer">
                        Click Here For More
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <img src="https://img.icons8.com/pastel-glyph/512/calculator.png" alt="Calculator Icon" width="100" height="auto">
                    <h2 class="h4 fw-bolder">Nerd Wallet's Budgeting 101</h2>
                    <p>How to budget in an easy and effective way with Nerd Wallet. Their budget focuses first on dividing your income among needs, wants, savings and debt repayment, using the 50/30/20 ratio budget
                        to guarantee you save money monthly.</p>
                    <a class="text-decoration-none" href="https://www.nerdwallet.com/article/finance/how-to-budget" target="_blank" rel="noopener noreferrer">
                        Click Here For More
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    <img src="https://img.icons8.com/glyph-neue/512/budget.png" alt="Budget icon" width="100" height="auto">
                    <h2 class="h4 fw-bolder">Budget like Dave Ramsey</h2>
                    <p>We believe our work matters. Because our work is about you. So whether you’re up to your eyeballs in debt, praying for a miracle, or spending your days in a dead-end J-O-B—there’s hope. No matter what
                        it is you’re working through, we’ve got a solution.</p>
                    <a class="text-decoration-none" href="https://www.ramseysolutions.com/budgeting/how-to-budget#:~:text=A%20budget%20is%20a%20plan,minus%20your%20expenses%20equals%20zero." target="_blank" rel="noopener noreferrer">
                        Click Here For More
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--Learn More Cards Part 2-->
    <section>
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <img src="https://img.icons8.com/ios/512/accounting.png" alt="Money calculator icon" width="100" height="auto">
                    <h2 class="h4 fw-bolder">Bank of America's Tips To Budget</h2>
                    <p>If you’re looking to create a personal budget, start with these six steps. Most people need some way of seeing where their money is going each month. A budget can help you
                        feel more in control of your finances and make it easier to save money. </p>
                    <a class="text-decoration-none" href="https://bettermoneyhabits.bankofamerica.com/en/saving-budgeting/creating-a-budget" target="_blank" rel="noopener noreferrer">
                        Click Here For More
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <img src="https://img.icons8.com/wired/512/coins.png" alt="Coins Icon" width="100" height="auto">
                    <h2 class="h4 fw-bolder">Huntington's Create A Personal Budget</h2>
                    <p>Making a personal budget can seem overwhelming, but we've broken it down to 10 simple steps to help you take control of your finances. If you're feeling intimidated,
                        you may want to use our monthly budgeting calculator to help you.</p>
                    <a class="text-decoration-none" href="https://www.huntington.com/learn/budgeting/how-to-make-a-budget" target="_blank" rel="noopener noreferrer">
                        Click Here For More
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    <img src="https://img.icons8.com/ios/512/banknotes.png" alt="Dollars icon" width="100" height="auto">
                    <h2 class="h4 fw-bolder">CNBC's 5 Step Budget</h2>
                    <p>Creating a budget is a great way to track where your money goes each month and an important step to getting your finances in order. A budget can make it easier for you
                        to achieve financial milestones, such as building an emergency fund or saving for a down payment on a home.</p>
                    <a class="text-decoration-none" href="https://www.cnbc.com/select/how-to-create-a-budget-guide/" target="_blank" rel="noopener noreferrer">
                        Click Here For More
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--Learn More Cards Part 3-->
    <section>
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <img src="https://img.icons8.com/external-smashingstocks-mixed-smashing-stocks/512/external-budget-business-and-teamwork-smashingstocks-mixed-smashing-stocks.png" alt="Budget Calculator Icon" width="100" height="auto">
                    <h2 class="h4 fw-bolder">Money Helper's How To Manage Your Money</h2>
                    <p>Taking the time to manage your money better can really pay off. Learning to budget can help you stay on top of your bills and save $1,000s each year. You might be able to use savings to pay off any debts,
                        put them towards your pension, or spend them on your next car or holiday.  </p>
                    <a class="text-decoration-none" href="https://www.moneyhelper.org.uk/en/everyday-money/budgeting/beginners-guide-to-managing-your-money" target="_blank" rel="noopener noreferrer">
                        Click Here For More
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <img src="https://img.icons8.com/dotty/512/money-transfer.png" alt="Money Icon" width="100" height="auto">
                    <h2 class="h4 fw-bolder">Capital One's 7 Tips on Managing Money</h2>
                    <p>If money’s a source of worry in your life, you’re not alone. The 2020 Capital One Mind Over Money study showed that most of the respondents—a full 77%, in fact—felt anxiety about their finances. Here are
                        some steps you can take today to build your confidence and help you manage your money more effectively.</p>
                    <a class="text-decoration-none" href="https://www.capitalone.com/learn-grow/money-management/money-management-tips/" target="_blank" rel="noopener noreferrer">
                        Click Here For More
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    <img src="https://img.icons8.com/external-kmg-design-detailed-outline-kmg-design/512/external-budget-currency-kmg-design-detailed-outline-kmg-design.png" alt="Budget Icon" width="100" height="auto">
                    <h2 class="h4 fw-bolder">Nerd Wallet's Mastering Your Finances</h2>
                    <p>What is money management, exactly? It’s a plan for your money, so you can make the most of it. If learning how to manage your money sounds intimidating or stressful, take it one step at a time. Below are
                        money management tips to help you gain control and, more importantly, peace of mind.</p>
                    <a class="text-decoration-none" href="https://www.nerdwallet.com/article/finance/money-management" target="_blank" rel="noopener noreferrer">
                        Click Here For More
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</section>
<!--Website Footer-->
<footer class="py-5 bg-success bg-opacity-75">
    <div class="container"><p class="m-0 text-center text-white">Copyright © Simpli Finance 2022</p></div>
</footer>
</html>
